.player {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-background);
  width: 94%;
  height: 50px;
  left: 3%;
  bottom: 76px;
  overflow: hidden;
  padding: 0;
  border-radius: 5px;
  z-index: 9;
  border-top: solid 1px rgb(56 55 55);
}
.cover-container {
  display: flex;
  align-items: center;
  width: 70%;
  height: 70px;
  padding: 0;
}
.cover {
  display: flex;
  align-items: center;
  height: 70px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, #1d1d1d 97%),
    url('../../public/assets/covers/500x500.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset -5px 0px 0px 0px #1d1d1d;
  width: 100%;
}
.info {
  margin-left: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.info p {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  margin-left: 15px;
  font-size: 18px;
  color: #ffffff;
  width: 320px;
  margin: 0;
}
.info {
  overflow: hidden;
}
.info .title:after {
  position: absolute;
  content: attr(data-text);
  left: 102%;
}
.info .title {
  display: inline-block; /* modèle de boîte en ligne */
  white-space: nowrap; /* pas de passage à la ligne */
}
@keyframes defilement-rtl {
  0% {
    transform: translate(0, 0); /* position initiale à droite */
  }
  10% {
    transform: translate(0, 0); /* position finale à gauche */
  }
  100% {
    transform: translate(-102%, 0); /* position finale à gauche */
  }
}

.info .artist {
  font-size: 16px;
  font-weight: 400;
  color: #d3d3d3;
}
button:hover svg {
  stroke-width: 50;
}

.center-buttons {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70px;
}
.center-buttons button,
.side-buttons button {
  display: none;
}
#play {
  display: block;
}
.center-buttons svg,
.svg {
  fill: white;
  width: 18px;
  height: 35px;
}
.timeline {
  display: none;
  width: 70%;
  background-color: #ffffff;
  height: 5px;
  border-radius: 5px;
}
.side-buttons {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.side-buttons svg {
  width: 25px;
  height: 35px;
  fill: #ffffff;
}

/* .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover:after {
  position: absolute;
  content: '';
  height: 85px;
  width: 300px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, #1d1d1d 97%);
} */
@media (min-width: 340px) {
  .player {
    height: 70px;
  }
}
@media (min-width: 500px) {
  .cover-container {
    width: 70%;
  }
  .center-buttons {
    width: 40%;
  }
  #previous {
    display: block;
  }
  #next {
    display: block;
  }
  .center-buttons svg {
    width: 21px;
  }
}
@media (min-width: 700px) {
  .cover-container {
    width: 50%;
  }
  .center-buttons {
    width: 50%;
  }
  #shuffle {
    display: block;
  }
  #repeat {
    display: block;
  }
  .center-buttons svg {
    width: 25px;
  }
}
@media (min-width: 1024px) {
  .player {
    bottom: 0;
    width: 100%;
    border-radius: unset;
    left: 0;
    height: 90px;
  }
  .center-buttons {
    justify-content: center;
  }
  .center-buttons button {
    padding: 0 15px;
  }
  .cover-container {
    height: 90px;
    width: 30%;
  }
  .cover {
    height: 90px;
  }
  .side-buttons {
    display: inherit;
  }
  .side-buttons button {
    display: inherit;
  }
  .timeline {
    display: inherit;
    width: 100%;
    margin: 0 50px;
  }
}
